/* Navbar Styles */
.navbar {
  background-color: transparent; /* Transparent background initially */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem; /* Adjust padding to your preference */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.navbar.scrolled {
  background-color: royalblue; /* Royal blue background when scrolled */
}

.navbar .logo img {
  height: 60px; /* Directly set the height of the logo image */
  width: auto; /* Ensure the aspect ratio is maintained */
  display: block; /* Removes any space below the image */
}

/* Navbar Links */
.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.navbar li {
  margin: 0 1.5rem;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.navbar a:hover {
  background-color: royalblue; /* Royal blue background for hover */
  color: white;
  transition: background-color 0.3s ease;
}
